{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>A Fundação Sigma – é 
  uma fundação com personalidade jurídica de direito privado, sem fins lucrativos, e suas principais atividades são: planejar, organizar, executar e supervisionar o concurso Vestibular da Unesp;
  realizar vestibulares e concursos diversos para outras instituições
  e promover as atividades de pesquisa e extensão de serviços à comunidade, na área educacional.</p>

{% endblock %}
